^contentpage {
    background-color: deepskyblue;
}

.header
{
    font-size: 50;
    text-align: center;
    margin-bottom: 15;
}

^DatePicker
{
    width: 200;
    font-size: 25;
}


label
{
    font-size: 22;
    margin: 5;
}

label.small
{
    font-size: 18;
    margin: 5;
}

^BoxView.FakeBackGround
{
    background-color: deepskyblue;
}